.nav-bar {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #1F1E1E;
    color: white;
 }
 
 .about-container {
    margin: 40px;
    padding-left: 15%;
}

.about-title {
    font-size: 36px;
    height: 1em
}

 body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

.about-me-image {
    display: flex;
    margin-right: 10%;
    margin-top: 40px;
}

.adjust-about-me-paragraph {
    font-size: 18px;
    width: 500px;
    text-wrap: pretty;;
}

.adjust-about-me-image {
    z-index: 1;
    margin: 20px 60px 60px 60px;
}

.about-me-fixed {
    padding-bottom: 40px;
    z-index: 99;
    padding: 40px 40px 40px 20%;
  }

  .fixed-profile-photo {
    z-index: 1;
    margin: 60px;
    padding-top: 20px;
  }